<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IMP.PASS</title>
</head>

<link rel="stylesheet" href="/css/home.css">

<body>
  <h1>&lt;IMP.PASS&gt;</h1>
  <div class="container">

    <div id="ip" class="cards">
      <label for="desc">What is IMP.PASS?</label>
      <p name="desc">
        IMP.PASS is a <strong><a href="#pw-manager">password manager</a></strong> project. It uses strong encryption algorithms to keep your passwords safe and secure. The passwords can be saved and retrieved anywhere (not now, becuase we don't have a cloud server). The user will only have to remember only one password, the MASTER PASSWORD
      </p>
    </div>

    <div id="pw" class="cards">
      <label for="desc">What are Password Managers?</label>
      <p name="desc">
        A Password Manager stores all of your passwords. Theses softwares also encrypts them with different algorithms. Overall, The idead is to encrypt passwords and save them. So, that we don't face problems like forgetting our account passwords, and we don't have to bother about the security of our passwords.
      </p>
    </div>

    <div id="why-ip" class="cards">
      <label for="desc">Why IMP.PASS?</label>
      <p name="desc">
        There are plenty of reasons to consider IMP.PASS as your primary password manager:
      <ul>
        <li>Easy</li>
        <li>One password</li>
        <li>Secure</li>
        <li>Access anywhere</li>
      </ul>
      </p>
    </div>
  </div>

  <div id="get-started">

    <a href="/login" class="btn">Login</a>
    <div> Get Started </div>
    <a href="/signup-form" class="btn">Sign UP</a>

  </div>
</body>

</html>
